@tailwind base;

@tailwind components;

@tailwind utilities;

.active{
  border-bottom : 1px solid #ffdc34;
  color: #ffdc34  ;
}
.nav-button{
  position: relative;
  transition : color 0.4s linear;
}
.nav-button:hover{
  color: #ffdc34;
}
.nav-logins{
  color:#fff;
  position:relative;
}
.nav-button::before , .nav-logins::before{
  content:'';
  position:absolute;
  z-index: -1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  border: 1px solid #ffdc34;
  transition : transform 0.4s ;
  transform-timing-function : cubic-beizer(0,0.7,1,0.5);
  transform : scaleX(0);
}
.nav-button::before{
  transform-origin:left;
  border-left: none;
  border-right: none;
  border-top:none;
}
.nav-logins::before{
  border-radius: 2px;
  transform-origin:bottom;
}
.nav-logins:hover::before, .nav-button:hover::before{
  transform: scaleX(1);
}
.font-display{
  font-family: 'Major Mono Display', monospace;
}
.h-24rem{
  height:24rem;
}
.bg-black-op2{
  background-color:rgba(0,0,0,0.4);
}
.bg-yellow-op1{
  background-color:rgba(255,255,0,0.1);
}
.bg-orange-op2{
  background-color: rgba(175, 70, 15, 0.2);
}
.text-shadow-1{
  text-shadow:1px 1px 4px #000;
}
.text-shadow-2{
  text-shadow: 2px 2px 8px #000;
}
.h-p50{
  height: 50%;
}
    /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,180,0,0.5);
    border-radius:5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

@responsive{
  .top-20{
    top:20%;
  }
  .top-40{
    top:40%;
  }
  .top-50{
    top:50%;
  }
  .left-50{
    left:50%;
  }
  .translateX-n50{
    transform: translateX(-50%);
  }
  .translateY-n50{
    transform: translateY(-50%);
  }
  .translate-n50{
    transform: translate(-50%,-50%);
  }
  .w-250{
    width:250%;
  }
  .max-h-20rem{
    max-height:22rem;
  }
}
