@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive{
  .text-2xs{
    font-size:0.6rem;
  }
  .text-title{
    font-size:4rem;
  }
}

.body-all{
  // background-color: #111122;
    // background-image: linear-gradient(red, yellow);
    background-image:url('./bg3.jpg');

  // background-image: radial-gradient(#111100,#000),url('./bg3.jpg');
  // background-blend-mode:hue;
  // #111100,#111
  // background-image: radial-gradient(rgba(17,17,0,0.5),rgba(17,17,17,0.5));
  // background-image: radial-gradient(#111,#111100);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
}
.title{
  font-family: 'Major Mono Display', monospace;
}
#about{
  position:absolute;
  display:block;
  top:100%;
  // background-color: rgba(255,255,255,0.1);
  // background-color: #fff;
  // background-image: radial-gradient(#fff,#e2e2e2);
}
.absolute-center{
  left:50%;
  top:50%;
  position:absolute;
  transform: translate(-50%,-50%);
}
.absolute-center-40{
  left:50%;
  top:40%;
  position:absolute;
  transform: translate(-50%,-50%);
}
.fixed-center-40{
  left:50%;
  top:40%;
  position:fixed;
  transform: translate(-50%,-50%);
}

.timer-position{
  position: absolute;
  top:85%;
  left:50%;
  transform: translateX(-50%);
}
