@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    // background-image: radial-gradient(circle, #333333, #222222);
    background: #282828;
}

.svg-container {
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);

    z-index: -1;
}

.chakravyuh-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    letter-spacing: 0.50rem;
    color: #d4af37;
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media(max-width: 600px) {
  .chakravyuh-title {
    letter-spacing: 0.2rem;
  }
}

svg .outer-line {
  stroke-dasharray: 10709.734375;
  stroke-dashoffset: 10709.734375;
  animation: dash 12s linear infinite;
}

svg .inner-line {
  stroke-dasharray: 6851.04736328125;
  stroke-dashoffset: 6851.04736328125;
  animation: dash 12s linear infinite;
}

@keyframes dash {
  66.7%, 100% {
    stroke-dashoffset: 0;
  }
}